     <section id="faq" class="w-full py-12 md:py-24 lg:py-32 bg-primary-20 items-center rounded-lg max-width-[800px]">
        <div class="container px-4 md:px-6 mx-auto">
          <div class="flex flex-col items-center justify-center space-y-4 text-center">
            <div class="space-y-2 items-center justify-center">
              <h2 class="text-3xl font-bold tracking-tighter sm:text-4xl md:text-5xl">
                El {" "} <span class="text-primary">futuro</span> esta aqui. Comenz치 tu demo gratuita
              </h2>
              <p class="max-w-[600px] mx-auto md:text-xl/relaxed lg:text-base/relaxed xl:text-xl/relaxed">
                Se parte de los vendedores que transformaron sus negocios
                con Nivo.
              </p>
            </div>
            <div class="flex flex-col m-auto items-center justify-center sm:flex-row sm:flex-wrap gap-3 w-full">
  <a
    href="https://wa.me/5491154702118?text=Hola%2C%20me%20interesa%20saber%20m치s%20sobre%20Nivo"
    target="_blank"
    rel="noopener noreferrer"
    class="w-full sm:w-auto text-center px-6 py-2 bg-primary rounded-xl hover:bg-[#0d0d0d] text-white transition duration-300 cursor-pointer"
  >
    Comenz치 ahora gratis
  </a>
  <a
    href="/#precios"
    class="w-full sm:w-auto text-center py-2 px-6 border border-primary rounded-xl text-primary hover:bg-[#6e5cc4] hover:text-white transition duration-300 cursor-pointer"
  >
    Compar치 los planes
  </a>
</div>
          </div>
        </div>
      </section>