     <section id="faq" class="w-full py-12 md:py-24 lg:py-32 bg-primary-20 items-center rounded-lg max-width-[800px]">
        <div class="container px-4 md:px-6 mx-auto">
          <div class="flex flex-col items-center justify-center space-y-4 text-center">
            <div class="space-y-2 items-center justify-center">
              <h2 class="text-3xl font-bold tracking-tighter sm:text-4xl md:text-5xl">
                El futuro esta aqui. Comenzá tu demo gratuita
              </h2>
              <p class="max-w-[600px] mx-auto md:text-xl/relaxed lg:text-base/relaxed xl:text-xl/relaxed">
                Únete a los miles de vendedores que transformaron sus negocios
                con TreadUp.
              </p>
            </div>
            <div class="flex flex-col gap-2 min-[400px]:flex-row">
              <button class="px-8 py-2 bg-primary rounded-xl hover:bg-[#0d0d0d] text-white transition duration-300 cursor-pointer">
                Comenzá ahora gratis
              </button>
              <button class="py-2 px-4 border-primary-20 rounded-xl text-primary hover:bg-[#6e5cc4] hover:text-white transition duration-300 cursor-pointer">
                Compará los planes
              </button>
            </div>
          </div>
        </div>
      </section>